@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background:beige;">
    <h1 class="display-4" style="color:chocolate;">Employee Leave Management System Application.</h1>
    <hr />
    <div style="color:blue;">
        <p>Name of student : <b><u>Swapnil Padave</u></b> Seat No. :- <b>4135512</b></p>
        <p>Name of student : <b><u>Ajay Kamble</u></b> Seat No. :- <b>4135450</b></p>
        <p>College Name :- <b>Navneet College Of Arts, Commers And Science</b></p>
        <p style="text-align:center"><b>MSC-IT Part-II</b></p>
    </div>
</div>
