@model LeaveManagementSystem.Models.EditLeaveAllocationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:chocolate;">Editing @Model.LeaveType.Name Allocation For @Model.Employee.LastName @Model.Employee.FirstName </h1>

<hr />
<div class="row" style="color:blue;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="NumberOfDays" class="control-label"></label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="width:450px;" />
            </div>
        </form>
        <div>
            <a asp-action="ListEmployees" class="btn btn-outline-dark" style="width:450px">Back to List</a>
        </div>
    </div>
</div>



